:root {
  --green: #192a56;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 2s linear;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(23, 73, 139, 0.452);
}

html {
  font-size: 62.5%;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

header .logo {
  color: var(--black);
  font-size: 3rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
}

header .logo i {
  color: var(--green);
}

header .navbar a {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: var(--light-color);
  font-weight: bold;
}

header .navbar a.active,
header .navbar a:hover {
  color: #fff;
  background: var(--green);
}

.icons {
  display: flex;
  flex-direction: row;
}

.icons #search-icon {
  margin-top: 6px;
}
.icons input {
  border: 2px solid var(--green);
  margin: 5px;
  width: 200px;
  height: 30px;
  border-radius: 15px;
}

.icons img {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

header .search-div,
.search-bar {
  display: none;
}

/* media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1rem 2rem;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 991px) {
  html {
    font-size: 50%;
  }

  header {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 750px) {
  header nav {
    display: none;
  }
  header:hover nav {
    font-size: 50px;
    font-weight: bolder;
    width: 100px;
    height: 200px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(auto, 7);
    justify-content: center;
    position: absolute;
    margin-left: 0px;
    margin-top: 250px;
    box-shadow: var(--box-shadow);
  }
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: src= "pictures\pexels-alexander-ant-7031674.jpg";
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  margin-bottom: 20px;
  margin-top: 80px;
  position: relative;
  width: 100%;
  max-width: 450px;
  height: 530px;
  background: transparent;
  border-radius: 20px;
  border: 2px solid rgba(257, 257, 257, 0.7);
  backdrop-filter: blur(20px);
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto;
  grid-template-rows: repeat(auto, 5);
  overflow: hidden;
  color: #fff;
  background-color: var(--green);
}

.main-box {
  padding: 50px;
  width: 100%;
}

.main-box h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}

.input-box {
  margin-top: 2px;
}

input {
  border: none;
}

.input-box {
  position: relative;
  height: 52px;
  width: 100%;
  border-bottom: 2px solid #ffff;
  margin: 32px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #ffff;
  font-weight: 500;
  font-size: 18px;
  transition: all ease 0.4s;
}

.input-box input {
  height: 100%;
  width: 100%;
  background: transparent;
  font-size: 17px;
  font-weight: 600;
  color: #ffff;
  padding: 0 30px 0 6px;
}

.input-box .icon {
  position: absolute;
  right: 9px;
  font-size: 10px;
  color: #fff;
  line-height: 55px;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -3px;
}

.check {
  color: #fff;
  font-size: 15px;
  font-weight: 500px;
  margin: -10px 0 15px;
  display: flex;
  justify-content: space-between;
}

.check label input {
  vertical-align: middle;
  margin-right: 6px;
  accent-color: #fff;
}

.check a {
  color: #fff;
}

.check a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border-radius: 30px;
  font-size: 19px;
  font-weight: 600px;
  font-weight: bolder;
  color: rgba(3, 3, 3, 0.979);
  margin-top: 10px;
  cursor: pointer;
}

.register {
  text-align: center;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  margin: 35px 0 15px;
}

.register p a {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  margin-left: 5px;
}

.register p a:hover {
  text-decoration: underline;
}
